*
    margin: 0
    padding: 0
header
    // width: 100vw
    display: flex
    justify-content: space-between
    align-items: center
    padding:5vh 10vw 
    position: relative
    &::before
        content:''
        width: 74vw
        height: 0.2vh
        background-color: #00000029
        position: absolute
        bottom: 0
        left: 10vw
    .left
        display: flex
        align-items: center
        gap: 3vw
        nav
            display: flex 
            align-items: center 
            gap: 3vw
            padding-left:2.5vw 
            a
                text-decoration: none
                color: #0000008a
                &:hover
                    color: #c9621d
    .right
        display: flex  
        align-items: center
        gap: 2vw
        .profial
            width: 30%
            height: auto
            object-fit: cover
