main
    display: grid
    grid-template-columns:1fr 1fr
    gap: 3vw
    padding: 5vw 15vw
    .left
        display: flex
        flex-direction: column
        gap: 2vw
        span
            img
                width: 80%
                border-radius:5px
        div
            display: flex
            gap: 1vw
            img
                width: 18%
                border-radius:5px
    .right
        display: flex
        flex-direction: column
        justify-content: center
        gap: 2vw
        span 
            font-size: 16px
            text-transform: uppercase
            color: #0000008a
        h1
            text-transform: capitalize
        p
            color: #000000b8
        .prix
            display: flex
            align-items: center
            gap:1.5vw
            p
                background-color: black
                color: white
                padding: 0.2vw 0.8vw
                border-radius:5px
        .btn
            display: flex
            gap: 1vw
            div
                background-color: #a8a8a858
                display: flex
                align-items: center
                justify-content: space-between
                padding: 1vw 1vw
                width: 20%
                text-decoration: none
                border-radius: 10px
            button
                display: flex
                gap:1vw
                align-items: center
                padding: 1vw 4vw
                background-color: #e17a35ff
                border-radius:10px
                border: none
                img
                    filter: brightness(0) saturate(100%)
                p
                    font-size: 17px
                    color: black


